absl-py==2.0.0
aniso8601==10.0.1
annotated-types==0.5.0
asttokens==3.0.0
astunparse==1.6.3
blinker==1.6.3
blis==0.7.11
cachetools==5.3.1
catalogue==2.0.10
certifi==2023.7.22
charset-normalizer==3.2.0
chatterbot-corpus==1.2.0
click==8.1.7
cloudpathlib==0.15.1
colorama==0.4.3
comm==0.2.2
comtypes==1.4.10
confection==0.1.3
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.8
debugpy==1.8.12
decorator==5.1.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
executing==2.2.0
filelock==3.18.0
Flask==3.0.0
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
flatbuffers==23.5.26
fonttools==4.40.0
fsspec==2025.3.0
gast==0.5.4
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.23.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.59.0
gTTS==2.5.4
gunicorn==23.0.0
h5py==3.10.0
huggingface-hub==0.29.3
idna==3.4
ipykernel==6.29.5
ipython==8.31.0
itsdangerous==2.1.2
jedi==0.19.2
Jinja2==3.1.2
joblib==1.5.0
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==2.14.0
kiwisolver==1.4.4
langcodes==3.3.0
libclang==16.0.6
Markdown==3.5
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.7
ml-dtypes==0.2.0
mpmath==1.3.0
murmurhash==1.0.10
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.5
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.11.0.86
opt-einsum==3.3.0
packaging==23.1
pandas==2.2.3
parso==0.8.4
pathy==0.10.2
pillow==11.1.0
platformdirs==4.3.6
preshed==3.0.9
prompt_toolkit==3.0.50
protobuf==4.24.4
psutil==6.1.1
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.19.1
pyparsing==3.0.9
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pytesseract==0.3.13
python-dateutil==2.8.2
pyttsx3==2.98
pytz==2024.2
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
regex==2023.10.3
requests==2.32.3
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.11.3
seaborn==0.13.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.2
spacy==3.7.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
sympy==1.13.1
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
thinc==8.2.1
threadpoolctl==3.2.0
tokenizers==0.21.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.50.3
typer==0.9.0
typing_extensions==4.13.0
tzdata==2024.2
ultralytics==8.3.98
ultralytics-thop==2.0.14
urllib3==2.0.4
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.2
Werkzeug==3.0.0
wrapt==1.14.1
